$collapsed-width: 5rem;
$expanded-width: 16.5625rem;
$transition-speed: 0.5s;

.body {
  width: calc(100% - #{$collapsed-width});
  margin-left: $collapsed-width;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all $transition-speed ease;
  background: #f4f7fa;
  padding: 3rem;
}

.body-trimmed {
  width: calc(100% - #{$expanded-width});
  margin-left: $expanded-width;
}

.body-md-screen {
  width: calc(100% - #{$collapsed-width});
  margin-left: $collapsed-width;
}
