
  <div class="dashboard container-fluid py-4">

  <button class="btn btn-danger btn-logout" (click)="logout()">
    <i class="fal fa-sign-out-alt me-1"></i> Sair
  </button>

  <div class="text-center mb-4">
    <img
      src="/inventario.png"
      alt="Logo do sistema"
      class="system-logo"
    />
    <h1 class="fw-bold mt-2 school-name">
      {{ school?.name || 'Carregando...' }}
    </h1>
  </div>

  <div class="row mb-4">
    <div
      class="col-md-4 mb-4"
      *ngFor="let item of dashboardData | keyvalue"
    >
      <a [routerLink]="item.value.rota" class="text-decoration-none">
        <div class="card text-center shadow-sm border-0 rounded-3 h-100 hover-card">
          <div class="card-body">
            <i [class]="item.value.icone + ' fa-2x text-' + item.value.cor"></i>
            <h5 class="mt-2 text-dark">{{ item.value.titulo }}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
