.report-menu button {
  padding: 8px 12px;
  margin: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #f3f3f3;
  cursor: pointer;
}

.report-menu button.active {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}
