$primary-color: #012a5b;
$secondary-color: #8690a3;
$text-color: #f3f3f3;
$hover-bg: #fff;
$hover-text: #000;
$transition: all 0.5s ease;

.sidenav {
  background: $primary-color;
  transition: $transition;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 16.5625rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 $secondary-color;

  &-collapsed {
    width: 5rem;
  }

  .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem;
    width: 100%;

    .logo {
      background: #fff;
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
    }

    .logo-text {
      margin-left: 1.5rem;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-times {
        color: #fff;
        font-size: 24px;
      }
    }
  }

  .sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;

    .sidenav-nav-item {
      width: 100%;
      margin-bottom: 0.625rem;

      .sidenav-nav-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 3rem;
        width: 100%;
        color: $text-color;
        text-decoration: none;
        border-radius: 0.625rem;
        transition: $transition;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        .sidenav-link-icon {
          font-size: 22px;
          width: 2rem;
          min-width: 2rem;
          text-align: center;
          padding: 12px;
        }

        .sidenav-link-text {
          margin-left: 1.5rem;
        }

        &:hover,
        &:focus,
        &:active {
          background-color: $hover-bg;
          color: $hover-text;
          outline: none;
          box-shadow: none;

          .sidenav-link-icon,
          .sidenav-link-text {
            color: $hover-text;
          }
        }
      }

      .active {
        background-color: $hover-bg;

        .sidenav-link-icon,
        .sidenav-link-text {
          color: $hover-text;
        }
      }
    }
  }
}
