<div class="forgot-password-wrapper">
  <div class="forgot-password-card">
    <h2>Recuperar senha</h2>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input
          type="email"
          formControlName="email"
          required
          placeholder="Email"
        />
        <span class="icon">📧</span>
      </div>

      <div class="error" *ngIf="email.invalid && email.touched">
        Digite um email válido.
      </div>

      <button type="submit" [disabled]="email.invalid">Enviar</button>
    </form>

    <a routerLink="/login" class="back-link">Voltar ao login</a>
  </div>
</div>
