
<div class="card rounded shadow-sm p-3 ">

  <div class="row g-3 align-items-end mb-3">
  <div class="col-12 col-md-7">
    <div class="input-group">
      <span class="input-group-text"><i class="fa fa-search"></i></span>
      <input
        id="searchInput"
        type="text"
        class="form-control"
        placeholder="Digite para filtrar..."
        (input)="onSearchChange($event)"
      >
    </div>
  </div>

  <div class="col-md-3">
  <div class="input-group">
    <span class="input-group-text"><i class="fa fa-filter"></i></span>
    <select class="form-select" [(ngModel)]="selectedConservation" (change)="onFilterChange()">
      <option [ngValue]="null">Todos</option>
      <option *ngFor="let state of conservationStates" [ngValue]="state.id">{{ state.name }}</option>
    </select>
  </div>
</div>

  <div class="col-12 col-md-2 text-md-end">
    <a class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center gap-2"
       routerLink="/asset/detail">
      <i class="fa fa-plus-circle"></i>
      <span class="d-none d-sm-inline">Novo</span>
    </a>
  </div>
</div>

  <table class="table table-striped table-hover ">
    <thead class="thead-dark">
      <tr>
      <th style="width: 10%;">Código</th>
      <th style="width: 27%;">Item</th>
      <th style="width: 10%;" class="d-none d-md-table-cell">Serial</th>
      <th style="width: 14%;">Conservação</th>
      <th style="width: 15%;" class="d-none d-md-table-cell">Categoria</th>
      <th style="width: 15%;" class="d-none d-md-table-cell">Localização</th>
      <th style="width: 9%;"> Excluir</th>
    </tr>
  </thead>
<tbody>
  @for (asset of data; track asset.id) {
    <tr style="cursor: pointer;" (click)="detalheAsset(asset.id)">

      <td style="width: 10%;">{{ asset.patrimonyCode }}</td>
      <td style="width: 27%">{{ asset.name }}</td>
      <td style="width: 10%;" class="d-none d-md-table-cell">{{ asset.serieNumber || '----------'}}</td>
      <td style="width: 14%;" >{{ getConservationStateLabel(asset.conservationState) }}</td>
      <td style="width: 15%;" class=" d-none d-md-table-cell">{{ asset.category.name }}</td>
      <td style="width: 15%;" class="d-none d-md-table-cell">{{ asset.roomLocation?.name }}</td>
      <td style="width: 9%;">
       <button type="button"
        class="btn btn-sm btn-outline-danger d-flex align-items-center justify-content-center"
        (click)="openModal($event, template, asset)"
        title="Excluir">
  <i class="fa fa-trash fa-sm"></i>
  <span class="d-none d-md-inline ms-1">Excluir</span>
</button>
      </td>

  }
  @empty {
    <tr>
      <td colspan="7">Não há itens disponíveis.</td>
    </tr>
  }
</tbody>

</table>
<div class="d-flex justify-content-center">
<pagination [boundaryLinks]="true"
      [align]="true"
      [totalItems]="totalItems"
      [itemsPerPage]="10"
      [(ngModel)]="currentPage"
      (pageChanged)="pageChanged($event)"
      pageBtnClass="btn"


            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;">

</pagination>

</div>
</div>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar o Item <strong> {{selectedAsset?.name }} </strong> ?</p>
    <button type="button" class="btn btn-outline-primary me-3" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-outline-primary" (click)="decline()">Não</button>
  </div>
</ng-template>

