
$highlight-color: #BBDEFB;
$padding: 8px;
$pagination-margin: 10px;
$table-border-radius: 4px;


.table {
  width: 100%;
  table-layout: fixed;

  th, td {
    text-align: left;
    vertical-align: middle;
    padding: $padding;
  }

  tbody {
    min-height: 200px;
    display: block;
    overflow-y: auto;
  }

  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  > tbody > tr:hover td {
    background-color: $highlight-color !important;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: $pagination-margin;
}
