<ng-template #logoutTemplate>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja sair do sistema?</p>
  </div>
  <div class="modal-footer justify-content-center">
    <button
      type="button"
      class="btn btn-outline-primary me-3"
      (click)="confirmLogout()"
    >
      Sim
    </button>
    <button type="button" class="btn btn-outline-primary" (click)="decline()">
      Não
    </button>
  </div>
</ng-template>

<ng-container *ngIf="shouldShowSidebar">
  <div
    class="sidenav"
    [ngClass]="{ 'sidenav-collapsed': isLeftSidebarCollapsed }"
  >
    <div class="logo-container">
      <button
        class="logo"
        (click)="toggleCollapse()"
        aria-label="Abrir / Fechar menu"
      >
        <i class="fal fa-bars"></i>
      </button>

      <div *ngIf="!isLeftSidebarCollapsed" class="logo-text">Painel</div>

      <button
        *ngIf="!isLeftSidebarCollapsed"
        class="btn-close"
        (click)="closeSidenav()"
        aria-label="Fechar menu"
      >
        <i class="fal fa-times close-icon"></i>
      </button>
    </div>

    <ul class="sidenav-nav">
      <li *ngFor="let item of items" class="sidenav-nav-item">
        <button
          *ngIf="item.action === 'logout'"
          type="button"
          class="sidenav-nav-link"
          (click)="openLogoutModal($event, logoutTemplate)"
        >
          <i class="sidenav-link-icon" [class]="item.icon"></i>
          <span *ngIf="!isLeftSidebarCollapsed" class="sidenav-link-text">{{
            item.label
          }}</span>
        </button>

        <a
          *ngIf="!item.action"
          class="sidenav-nav-link"
          [routerLink]="item.routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <i class="sidenav-link-icon" [class]="item.icon"></i>
          <span *ngIf="!isLeftSidebarCollapsed" class="sidenav-link-text">{{
            item.label
          }}</span>
        </a>
      </li>
    </ul>
  </div>
</ng-container>
